body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ecf5f9;
    margin:0;
}
nav{
    background-color: #064e9a;
    height: 100%;
    width: 200px;
    position: fixed;
    overflow: auto;

}

nav > a{
    display: block;
    color: #ecf5f9;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em;
}

nav > a.active{
    background-color: #81b0e2;
}

nav > a:hover:not(.active){
    background-color: white;
    color: #064e9a;
}

main{
    margin-left: 200px;
    padding: 1em;
}